.item {
  width: 100%;
  height: 35vh !important;
}

.item img {
  width: 100% !important;
  height: 100% !important;
}

.icon {
  width: 50px !important;
  height: 50px !important;
}

.content {
  border-radius: 20px;
  padding: 5px 15px;
  margin-left: 10px;
  width: 100% !important;
  text-align: center;
  font-size: 14px !important;
}
